[color=''], .c-message_kit__background {
  display: block !important;
  width: 70% !important;
  float: left !important;
  border-radius: 20px !important;
  margin: 3px 0 !important;
  margin-left: 5px !important;
  padding: 10px 0 !important;
  font-weight: bold !important;
}

.c-virtual_list__scroll_container, .c-virtual_list >.c-scrollbar__hider {
    background-color: rgb(49, 49, 49) !important;
}

.p-threads_flexpane__separator_count {
  background-color: rgb(49, 49, 49) !important;
  background-image: inherit !important;
  color: white !important;
}

.p-message_pane__limited_history_foreword, 
.p-message_pane__limited_history_foreword div, 
.p-flexpane_header, .p-threads_flexpane__header_channel_name, .c-icon--times {
    background-color: #3F0E40 !important;
    background-image: inherit !important;
    color: white !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.c-message__reply_bar:hover, .c-message__reply_bar_view_thread,
.c-message__reply_bar_last_reply {
  background-color: inherit !important;
  color: black;
}

.c-link, .c-message__body--automated {
  color: black;
  font-weight: bold;
}

.c-message__reply_bar:hover {
  border: 1px solid white !important;
}

.p-classic_nav__right_header {
    border-bottom: 8px white solid;
}

.p-flexpane_header {
   background-color: #3F0E40 !important;
}

.c-coachmark-anchor, .workspace__primary_view_footer {
  background-color: rgb(29, 29, 29) !important;
  padding-top: 5px !important;
}

.p-classic_nav__channel_header, .p-workspace__top_nav, .p-classic_nav__model__title__name--dim {
  background-color: rgb(29, 29, 29) !important;
  color: rgb(214, 214, 214) !important;
}

.p-classic_nav__model__button__icon, .p-classic_nav__right__button, 
.c-icon--user, .c-icon--star-o, .p-classic_nav__right__search__placeholder, 
.p-classic_nav__right__search__icon, .p-classic_nav__model__title__info__members, strong,
.c-message__body {
  color: rgb(214, 214, 214) !important;
}

.p-classic_nav__right__search {
  border:rgb(214, 214, 214) solid 1px !important;
}

.p-context_bar {
  background-color: rgba(29, 29, 29, 0) !important;
}

.p-message_input, .p-message_input_field {
  background-color: cadetblue !important;
  border: none !important;
  border-radius: 5px !important;
  top: 1px !important;
}

.ql-composer-sticky {
  background-color:rgb(85, 124, 126) !important;
  border: none !important;
  border-radius: 5px !important;
}

.c-icon--paperclip {
  top: 2px !important;
}

.p-message_pane__foreword__description {
  color: rgb(214, 214, 214) !important;
}

.p-channel_sidebar__static_list {
  background-color: #3F0E40 !important;
}

.p-rich_text_section, .c-message__sender_link, .c-timestamp__label {
  color: black !important;
}

[color='cadetblue'] {
  background-color: cadetblue !important;
  float: right !important;
  margin-right: 5px !important;
}