/* Default formatting of messages */
.c-message_kit__background {
  display: block !important;
  width: 70% !important;
  float: left !important;
  border-radius: 20px !important;
  margin: 3px 0 !important;
  margin-left: 5px !important;
  padding: 10px 0 !important;
  font-weight: bold !important;
  border: 1px solid transparent;
}

/* Hover for messages */
.c-message_kit__background:hover {
  margin-left: 15px !important;
  border: 1px solid white;
  transition: .2s;
}

/* Default formatting of current user's messages */
[data-user='UN65PKSPR'] {
  background-color: cadetblue !important;
  float: right !important;
  margin-right: 5px !important;
}

/* Hover for current user's messages */
[data-user='UN65PKSPR']:hover {
  margin-right: 15px !important;
  border: 1px solid white;
  transition: .2s;
}

/* Makes message index's background color dark */
.c-message_list > .c-scrollbar__hider, .p-workspace__secondary_view_contents {
  background-color: rgb(49, 49, 49) !important;
}

/* Makes threads replies stand out on dark background */
.p-threads_flexpane__separator_count {
  background-color: rgb(49, 49, 49) !important;
  background-image: inherit !important;
  color: rgb(255, 255, 255) !important;
}

/* Makes thread banner and various other banners blue and text stand out */
.p-message_pane__limited_history_foreword, 
.p-message_pane__limited_history_foreword div, 
.p-flexpane_header, .p-threads_flexpane__header_channel_name, .p-workspace__secondary_view_contents .c-icon--times {
  background-color: rgb(3, 57, 94) !important;
  background-image: inherit !important;
  border-top: none;
  color: white !important;
}

/* Makes close icon stand out on dark background */
.c-icon--times {
  color: white !important;
}

/* Makes reply button on message match message background on hover */
.c-message__reply_bar:hover, .c-message__reply_bar_view_thread,
.c-message__reply_bar_last_reply {
  background-color: inherit !important;
  color: black;
}

.c-link, .c-message__body--automated, .c-link.c-member_slug.c-member_slug--light.c-member_slug--link {
  color: rgb(0, 61, 117);
  font-weight: bold;
}

.p-classic_nav__model__title__info__topic__content > .c-link {
  color: white;
}

.p-classic_nav__model__title__info__topic__text::before {
  display: none !important;
}

.c-message__reply_bar:hover {
  border: 1px solid white !important;
}

.p-classic_nav__right_header {
    border-bottom: 8px white solid;
}

.c-coachmark-anchor, .workspace__primary_view_footer {
  background-color: rgb(29, 29, 29) !important;
  padding-top: 5px !important;
}

.c-scrollbar__hider::before, .c-message_list__day_divider__label__pill {
  background-color: rgb(29, 29, 29) !important;
  color: white;
}

.c-message_list__day_divider__line {
  border: 1px solid rgb(29, 29, 29) !important;
}

.p-classic_nav__right_header.p-classic_nav__right_header--context_pane {
  border-bottom: 1px solid white;
}

.p-classic_nav__channel_header, .p-workspace__top_nav, .p-classic_nav__model__title__name--dim {
  background-color: rgb(29, 29, 29) !important;
  color: rgb(214, 214, 214) !important;
}

.p-classic_nav__model__button__icon, .p-classic_nav__right__button, 
.c-icon--user, .c-icon--star-o, .p-classic_nav__right__search__placeholder, 
.p-classic_nav__right__search__icon, .p-classic_nav__model__title__info__members, strong,
.c-message__body, .c-icon--thumb-tack, .c-button-unstyled.p-classic_nav__model__title__info__pins {
  color: rgb(214, 214, 214) !important;
}

.p-classic_nav__right__search {
  border:rgb(214, 214, 214) solid 1px !important;
}

.p-context_bar {
  background-color: rgba(29, 29, 29, 0) !important;
}

.p-message_input, .p-message_input_field {
  background-color: cadetblue !important;
  border: none !important;
  border-radius: 5px !important;
  top: 1px !important;
}

.ql-composer-sticky {
  background-color:rgb(85, 124, 126) !important;
  border: none !important;
  border-radius: 5px !important;
}

.c-icon--paperclip {
  top: 2px !important;
}

.p-message_pane__foreword__description {
  color: rgb(214, 214, 214) !important;
}

.c-message_kit__hover.c-message_kit__message.p-activity_flexpane__item .p-rich_text_section {
  color: white !important;
}

.p-rich_text_section, .c-message__sender_link, .c-timestamp__label {
  color: black !important;
}

.blockButton, .xButton {
  background-color: white !important;
  color: rgba(var(--sk_foreground_max,29,28,29),.7) !important;
  margin-right: 2px !important;
  position: relative !important;
  overflow: visible !important;
  font-size: 10px !important;
}

.blockButton {
  top: -4px;
}

.blockButton:hover, .xButton:hover {
  background: rgba(var(--sk_foreground_min,29,28,29),.04) !important;
  color: rgba(var(--sk_primary_foreground,29,28,29),1) !important;
}

.p-classic_nav__team_header, .p-channel_sidebar, .p-channel_sidebar--classic_nav, .p-flexpane_header, .p-threads_flexpane__header_channel_name {
  background-color: rgb(3, 57, 94) !important;
}

.p-channel_sidebar__close_container:hover, .c-link.p-channel_sidebar__channel:hover, .p-channel_sidebar__link:hover {
  background-color: rgb(2, 78, 129) !important;
}

.c-link.p-file_image_thumbnail__wrapper, .c-pillow_file_container.c-file_gallery__message_file.p-message_file.p-message_file--media.p-message_file--show_preview {
  background-color: rgba(255, 255, 255, 0.178) !important;
  box-shadow: 0 0 0 1px rgba(221, 221, 221, 0.26) !important;
}

.blocked-message {
  display: block;
  width: 70%;
  float: left;
  border-radius: 20px;
  margin: 3px 0;
  margin-left: 5px;
  padding: 10px 0 10px 20px;
  font-weight: bold;
  background-color: rgb(143, 143, 143);
  border: 1px solid transparent;
}

.blocked-message:hover {
  margin-left: 15px;
  border: 1px solid white;
  transition: .2s;
}

.blocked-message-button {
  color: rgb(0, 80, 155);
  font-weight: bold;
}

.blocked-message-button:hover {
  color: rgb(0, 110, 212);
  font-weight: bold;
}